<component name="libraryTable">
  <library name="SpringMVC">
    <CLASSES>
      <root url="file://$PROJECT_DIR$/../../../SpringMVC.jar" />
    </CLASSES>
    <JAVADOC />
    <SOURCES />
    <jarDirectory url="file://$PROJECT_DIR$/../../../SpringMVC.jar" recursive="false" />
  </library>
</component>